html, body {
	background: black;

  height: 100%;
}
#myContainer{
	/*border: 1px solid gray;*/
	width: 1000px;
	padding: 0;
	margin: 0;
	/*display: block;*/
	float:left;
}
#left{
    width: calc(50% - 500px);
    float:left;
    padding: 0;
	margin: 0;
}
#right{
    width: calc(50% - 500px);
    float:right;
    padding: 0;
	margin: 0;
}

